# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# virtual env
venv/
env/
.venv/

# Django stuff
*.log
staticfiles/
media/

# DB (IMPORTANT - we will allow sqlite below)
# db.sqlite3   <-- REMOVE THIS LINE since you WANT to push DB

# env files
.env
.env.*

# system
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# migrations cache (optional)
**/__pycache__/

notes.txt